html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    background-color: #c5d1ef;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5578d1;
}
header li {
    display: inline-block;
}
header ul a {
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

header ul a:hover {
    background-color: #3156b3;
}
h2{
    margin-left: 10px;
    color:rgb(24, 3, 61) ;
}
div ul li a{
    text-decoration: none  ;
    font-size: 17px;
}
p{
    text-align: center;
    font-size: 17px;
}

img{
    border-radius: 5%;
    transition: 0.5s all ease-in-out;
}

img:hover{
    transform: scale(1.05);
}